.file_list{
    float:left;
    margin-left:5px;
    display:block;
    width:300px;
    max-height:800px;
    border: 3px solid #45464F;
    border-radius: 24px;
    transition: 0.25s;
    padding:10px;
    padding-bottom:16px;
    overflow: auto;
}
.file_list::-webkit-scrollbar {
    width: 0px;
}
h3{
    text-align:center;
    margin-bottom:5px;
}
.file_list li{
    overflow:hidden;
}
.list_li input{
  text-align:left;
  padding-left:30px;
  margin-left:4px;
  margin-right:-4px;
  width:230px;
  margin-bottom:1px;
  height:40px;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(26,38,69,0.8);
  border: 1px solid #37B5A5;
  color:#CAD4D6;
  cursor:pointer;
  border-radius: 5px 0 0 5px;
  transition: 0.25s;
}
input[name="del"]{
    border-radius: 0 5px 5px 0;
    margin-left:-1px;
    padding-left:7px;
    width:36px;
    background:rgba(202,00,3,0.9);
    border: 1px solid #37B5A5;
}
.list_li input:hover{
    color:#fff;
    background-color:rgba(30, 51, 82, 0.8);
    border:1px solid #CAD4D6;
}
input[name="del"]:hover{
    color:#fff;
    background-color:#32cd32;
    border:1px solid #CAD4D6;
}