.file_list{
    background:#222831;
    float:left;
    margin-left:15px;
    display:block;
    width:300px;
    max-height:800px;
    border: 3px solid #45464F;
    border-radius: 24px;
    transition: 0.25s;
    padding:10px;
    padding-bottom:16px;
    overflow: auto;
}
.file_list::-webkit-scrollbar {
    width: 0px;
}
h3{
    text-align:center;
    margin-bottom:5px;
}
.file_list li{
    overflow:hidden;
}
.list_li input{
  font-size:12pt !important;
  text-align:left;
  padding-left:20px;
  margin-left:5px;
  margin-right:-4px;
  width:230px;
  margin-bottom:1px;
  height:36px;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(246,246,246,1);
  border: 1px solid #112D4E;
  color:#000;
  cursor:pointer;
  border-radius: 5px 0 0 5px;
  transition: 0.25s;
}
input[name="del"]{

    border-radius: 0 5px 5px 0;
    margin-left:-1px;
    padding-left:7px;
    width:36px;
    background:rgba(202,00,3,0.95);
    border: 1px solid #112D4E;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition:0.25s;
}
.list_li input:hover{
    background-color: rgba(246,246,246,0.9);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);

}
input[name="del"]:hover{
    color:#fff;
    background-color:#32cd32;
    border: 1px solid #112D4E;
    transition:0.25s;

}