*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainmenu {
    position:fixed;
    display:block;
    background: #222831;
    height: 50px;
    padding: 0;
    float: left;
    width: 100%;
    z-index: 10;
}
#mainmenu ul {
    clear: left;
    position: relative;
    right: 50%;
    height: 50px;
    float: right;
    text-align: center;
    font: 14pt Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;

}

/** Основные пункты **/
#mainmenu > ul > li {
    position: relative;
    left: 50%;
    float: left;
    height: 50px;
    padding: 0;
    margin: 0;
    width:270px;

}
.first{
    border-bottom:1px solid #45464F;
}
#mainmenu > ul > li > a {
    border-left: 1px solid #fff;
    display: block;
    color: #fff;
    text-decoration: none;
    margin:0;
    padding: 0 20px;
    line-height: 50px;
}
mainmenu input{
    border-left: 1px solid #37B5A5;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 40px;
}

#mainmenu > ul > li:first-child > a {
    border: none;
}
#mainmenu > ul > li:hover > a, #mainmenu > ul > li.hover > a, #mainmenu > ul > li.active > a {
    color: #fff;
}
#mainmenu > ul > li:hover, #mainmenu > ul > li.hover, #mainmenu > ul > li.active {
    background: #3E4959;
    color: #fff;
}

/* Выпадающие подпункты */
#mainmenu ul li ul {
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    list-style: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 270px;
}
#mainmenu > ul > li ul li {
    background:#3E4959;
    position: relative;
    left: 0;
    display: list-item;
    float: none;
    height: auto;
    margin: 0;
    text-align: left;
}
#mainmenu ul li ul li a {
    border-top:solid 1px #fff;
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    }
#mainmenu ul li ul li:last-child{
    border-radius: 0 0 14px 14px;
}
#mainmenu ul li ul li.parent a {
    position: relative;
}
#mainmenu ul li ul > li.parent > a::before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 6px;
    width: 6px;
}
#mainmenu ul li ul li:hover, #mainmenu ul li ul li.hover{

    background-color:#222831;

}
#mainmenu ul li:hover ul, #mainmenu ul li.hover ul {
    display: block;
}

/* Выпадающие пункты второго уровня */
#mainmenu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#mainmenu ul li ul li ul {
    top: 0;
    left: 200px;
    margin: 0 0 0 20px;
    width: 180px;
}

