.inputText{
    width: 774px;
}
.inputText div{
font-size:16pt;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
}
.GO{
    width:385px;
    height:40px !important;
    border-radius:0 0 20px 0;
}
.BACK{
    padding-top:10px !important;
    display:inline-block;
    border-radius:0 0 0 20px;
    width:385px;
    height:40px !important;
}
.form-control{

      text-align:left !important;
      padding-left:5px;
      width:774px !important;
      height:50px !important;
      background-color:#1A2645;
      border:1px solid #3F72AF;
      color:#CAD4D6;
}

textarea{
    margin-top:10px;
    padding-left:5px;
    width:774px;
    height:350px;
    background-color:#FFF7F3;
    border:1px solid #3F72AF;
    font-size: 18pt;
}