html, body{
	margin: 0;
	background:#2B2E4A;
	font-family:bankgothic lt bt;
}
.page_layout{
    padding-top:70px;
    display:block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.block-body{
    background:#222831;
    border:3px solid #45464F;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius:24px;
    width: 800px;
}
input{
    text-align:center;
    vertical-align: middle;
}
.block-body a, .block-body input{
    font: 14px Arial, Helvetica, sans-serif;
    text-align:center;
    vertical-align: middle;
}
.block-body a{
    padding-top:6px;
}
.upload{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.upload input[type="file"]::file-selector-button {
    width:300px;
    height:40px;
    cursor: pointer;
    padding: .2em .4em;
    background-color:#E84545;
    color:#CAD4D6;
    margin-bottom:5px;
    margin-top:5px;
    display: inline-block;
    border: 1px solid #7098DA;
    border-radius:16px;
    transform:0.25px;
    transition: 0.25s;
}
.upload h3{
    text-align:center;
}
.upload input[type="submit"] {
    color:#CAD4D6 !important;
    width:300px !important;
    height:40px !important;
    padding: .2em .4em !important;
    background-color:#E84545 !important;
    text-align:center;
    border: 1px solid #37B5A5;
    border-radius:16px;
    transform:0.25px;

    color:#CAD4D6;
    margin-bottom:5px;
    margin-top:5px;
    display: inline-block;
    text-align:center;
}
.upload input[type="submit"]:hover {
    color:#fff !important;
    background-color:#FF2E63 !important;
    border:1px solid #fff !important;
}

input[type=file]::file-selector-button:hover{
    color:#fff;
    background-color:#FF2E63;
    border:1px solid #fff;
}
.about h1{
    text-align:center;
}

@-webkit-keyframes shake {
0% { -webkit-transform: translate(1px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-1px, 0px    ) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-1px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(1px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(1px, 1px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -1px) rotate(-1deg); }
}
#range_error:hover,#range_error:focus,
.error div:hover,.error div:focus{
-webkit-animation-name: shake;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}
input[name="number_store"]{
    display:inline-block;
}
.error div{
    display: inline-block;
}
.error1{
    padding-right:126px;
    text-align:right;
    float:right;
}

