<div th:fragment="list" class="file_list">
    <h3 style="color:#CAD4D6;" id="list_h3">Список файлов на сервере</h3>
    <form action="/select">
        <div class="scroll">
            <ul th:each="el:${fileList}" class="list_ul">
                <li class="list_li">
                    <input name = "file" type="submit" th:value="${el}">
                    <input name="del" type = "submit" hidden th:value="${'          '+el}"style="background-image:url(css/images/trash32.png);background-repeat: no-repeat; background-position: 1px 2px;"/>
                </li>
            </ul>
        </div>
    </form>
</div>